
.users-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(1fr, 1fr);
    gap: 20px;
    padding: 20px;
}
.user-block {
    border: 2px solid #000;
    padding: 15px;
}

.address-block {
    margin-top: 10px;
}

